<div class="row">

  <div class="col-xs-12">

    <img [src]="this.model.imagePath"
         alt="{{this.model.imagePath}}"
         class="img-responsive"
         style="max-height: 256px">

  </div>

</div>

<div class="row">

  <div class="col-xs-12">

    <h1>{{this.model.name}}</h1>

  </div>

</div>

<div class="row">

  <div class="col-xs-12">

    <div class="btn-group" appDropdown>

      <button type="button"
              class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">

        <li><a href="#">To Shopping List</a></li>

        <li><a href="#">Edit Recipe</a></li>

        <li><a href="#">Delete Recipe</a></li>

      </ul>

    </div>

  </div>

</div>

<div class="row">

  <div class="col-xs-12">

    {{this.model.description}}

  </div>

</div>

<div class="row">

  <div class="col-xs-12">

    Recipe Ingredients

  </div>

</div>
